* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header {
    width: 100%;
    height: 100px;
    background: black;
    float: left;
    position: relative;
}

.title1, .title2 {
    color: white;
    text-indent: 15px;
}

.title1 {
    padding-top: 30px;
}

#logo {
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 12.5px;
    width: 75px; 
    height: 75px; 
}

body {
    background-color: rgba(250, 233, 233, 0.397);
}

#login {
    position: absolute;
    right: 20px;
    top: 30px;
    background: white;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 7px 15px;
    transition: 0.5;
    border-radius: 15px;
}

#login:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

#login:before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: black;
    border-width: 20px;
    border-radius: 15px;
}

#login span {
    position: relative;
    z-index: 1;
}

#login i {
    position: absolute;
    inset: 0;
    display: block;
}

#login i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10%;
    height: 4px;
    background: black;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

#login:hover i::before {
    width: 20px;
    left: 20%;
}

#login i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10%;
    height: 4px;
    background: black;
    transform: translate(-50%) skewX(325deg);
    transition: 0.5s;
}

#login:hover i::after {
    width: 20px;
    left: 80%;
}


#data-table {
    border-collapse: collapse;
    
}

#data-table th, td {
    border: 3px solid #ddd;
    padding: 3px;
    text-align: center;
}

#data-table th {
    background-color: #f2f2f2;
}

.header-cell {
    font-weight: bold;
}

.footer{
    width: 100%;
    height: 140px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

#contact, #follow {
    display: inline-block;
    vertical-align: top;
}

#foot3 i, #foot4 i {
    background-color:#33383b;
    color: #ffffff;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    margin: 2px 15px;
    margin-left: 100px;
}

#foot4 i {
    margin-bottom: 7px;
}

#foot1 {
    margin-left: 1px;
    color: #ffffff;
    font: normal 20px 'Cookie', cursive;
}

#foot1 span {
    color: #e0ac1c;
}

#foot4 a{
    color: #e0ac1c;
    text-decoration: none;
}

#follow h3 {
    color: #ffffff;
    font: normal 20px 'Cookie', cursive;
}

#follow h3 span {
    color: #e0ac1c;
}

#vertical_line {
    width: 100%;
    height: 2%;
    background-color: white;
    position: relative;
    bottom: 2px;
}

#copyright {
    margin: 0;
    border: 0;
    bottom: -76px;
    text-align: center;
}
